<%= form_for @team do |f| %>
  <div class="modal-body">
    <fieldset>
      <legend>Team Information</legend>

      <%= render partial: 'shared/form_errors', locals: {model: f.object} %>

      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :tag, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :tag, :class => 'text_field' %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions modal-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), teams_path, :class => 'btn', 'data-dismiss' => 'modal' %>
  </div>
<% end %>
