<%- model_class = Team -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<div class="breadcrumb">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_team_path, :class => 'btn btn-primary' %>
</div>

<div class="widget widget-nopad">
  <div class="widget-header">
    <i class="icon-user"></i>
    <h3>Active Team</h3>
  </div>
  <div class="widget-content">
    <%= form_for current_user, url: change_active_teams_path, html: {method: :put } do |f| %>
      <div class="widget-padding-container">
        <div class="control-group"> 
          <%= f.label :team_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :team_id, 
                  @team_members.collect {|t| [ t.team.name, t.team.id ]},  
                  include_blank: '- Select -'
            %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit :Change, :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:member_count) %></th>
      <th><%= TeamMember.human_attribute_name(:rank) %></th>
    </tr>
  </thead>
  <tbody>
    <% @team_members.each do |team_member| %>
      <tr>
        <td><%= link_to team_member.team.name, team_path(team_member.team) %></td>
        <td><%= team_member.team.member_count %></td>
        <td><%= team_member.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
