<%- model_class = Team -%>
<%= javascript_include_tag "team" %>
<h1><%=t '.title', :default => model_class.model_name.human %>: <%= @team.name %></h1>

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

<% if @member.try(:leader?) %>
  <div class="breadcrumb container-fluid">
    <div class="pull-right">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    </div>
  </div>
<% end %>

<div>
  <div class="widget">
    <div class="widget-header">
      <i class="icon-info-sign"></i>
      <h3>Team Details</h3>
    </div>
    <div class="widget-content">
      <div class="control-group">
        <label><%= model_class.human_attribute_name(:name) %></label>
        <div class="controls">
          <%= @team.name %>
        </div>
      </div>
      <div class="control-group">
        <label><%= model_class.human_attribute_name(:tag) %></label>
        <div class="controls">
          <%= @team.tag %>
        </div>
      </div>
      <div class="control-group">
        <label><%= model_class.human_attribute_name(:created_at) %></label>
        <div class="controls">
          <%= ldate @team.created_at %>
        </div>
      </div>
      <div class="control-group">
        <label><%= model_class.human_attribute_name(:members) %></label>
        <div class="controls">
          <%= @team.member_count %>
        </div>
      </div>
      <div class="control-group">
        <label><%= model_class.human_attribute_name(:points) %></label>
        <div class="controls">
          <%= @team.points %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="widget widget-table action-table">
    <div class="widget-header">
      <i class="icon-th"></i>
      <h3>Members</h3>
      <% if @member.try(:leader?) %>
        <%= link_to_modal t('.add_member', :default => t("helpers.links.add_member")),
                    new_team_member_path(@team), remote: true,
                    :data => {width: '320px'},
                    :class => 'btn btn-mini' %>
      <% end %>
    </div>
    <div class="widget-content">
      <% unless @team.members.empty? %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= TeamMember.human_attribute_name(:user) %></th>
              <th><%= User.human_attribute_name(:points) %></th>
              <th><%= TeamMember.human_attribute_name(:rank) %></th>
              <th><%= TeamMember.human_attribute_name(:created_at) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @team.members.each do |member| %>
              <tr>
                <td><%= member.user.try(:username) %></td>
                <td><%= member.user.try(:points) %></td>
                <td><%= member.rank %></td>
                <td><%= ldate member.created_at %></td>
                <td>
                  <% if @member.try(:leader?) %>
                    <%= link_to_modal t('.edit', :default => t("helpers.links.edit")),
                                      edit_team_member_path(@team, member),
                                      :data => {width: '320px'},
                                      :class => 'btn btn-mini', remote: true %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            team_member_path(@team, member),
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :method => 'delete', :class => 'btn btn-mini btn-danger' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
