<%= form_for [:admin, @game_type], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_errors', locals: {model: f.object} %>

  <%= hidden_field_tag :game_id, @game_type.game._id %>
  <div class="control-group">
    <%= f.label :game_id, :class => 'control-label' %>
    <div class="controls">
      <span class="help-inline">
        <%= @game_type.game.display_name %>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sort_order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sort_order, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_game_types_path(game_id: @game_type.game._id), :class => 'btn' %>
  </div>
<% end %>
