<div class="page-header">
  <h1>Billing History</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= BillingHistory.human_attribute_name(:created_at) %></th>
      <th><%= BillingHistory.human_attribute_name(:description) %></th>
      <th><%= BillingHistory.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
    <% billing_history.each do |billing_history| %>
      <tr>
        <td><%= ldate billing_history.created_at %></td>
        <td><%= billing_history.description %></td>
        <td><%= number_to_currency billing_history.amount  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
