<div id="account-balance-widget" class="widget">
  <div class="widget-header">
    <i class="icon-tags icon-white"></i>
    <h3>Account Balance</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered table-striped">
      <tbody>

        <tr>
          <td>
            <h4>
              Points
              <div class="pull-right">
                <%= @user.points %>
              </div>
            </h4>
          </td>
        </tr>

        <tr>
          <td>
            <h4>
              Cash
              <div class="pull-right">
                <%= number_to_currency @user.cash %>
              </div>
              <div class="sub-heading">
                Tournament winnings and stream commissions
              </div>
            </h4>
          </td>
        </tr>

        <tr>
          <td>
            <h4>
              Pro Subscriptions
              <div class="pull-right">
                <% if @user_subscription.present? %>
                  <div class="pull-right">
                    <%= @user_subscription.days_until_expiration_date %>
                  </div>
                  <br />
                  <div class="sub-heading">
                    Expiration date <%= ldate @user_subscription.expiration_date %>
                  </div>
                <% else %>
                  0
                <% end %>
              </div>
            </h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="page-header">
  <h1>Billing History</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= BillingHistory.human_attribute_name(:created_at) %></th>
      <th><%= BillingHistory.human_attribute_name(:description) %></th>
      <th><%= BillingHistory.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
    <% @billing_history.each do |billing_history| %>
      <tr>
        <td><%= ldate billing_history.created_at %></td>
        <td><%= billing_history.description %></td>
        <td><%= number_to_currency billing_history.amount  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
