<%- model_class = Bet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:_type) %>:</strong></dt>
  <dd><%= @bet._type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:_id) %>:</strong></dt>
  <dd><%= @bet._id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:winner) %>:</strong></dt>
  <dd><%= @bet.winner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:loser) %>:</strong></dt>
  <dd><%= @bet.loser %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map) %>:</strong></dt>
  <dd><%= @bet.map %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @bet.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:odds) %>:</strong></dt>
  <dd><%= @bet.odds %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stream_id) %>:</strong></dt>
  <dd><%= @bet.stream_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bookie_id) %>:</strong></dt>
  <dd><%= @bet.bookie_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bettor_id) %>:</strong></dt>
  <dd><%= @bet.bettor_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              stream_bets_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_stream_bet_path(@bet), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              stream_bet_path(@bet),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
