<%= form_for [:admin, @subscription_type], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_errors', locals: {model: f.object} %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :purchasable, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :purchasable, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :points_per_month, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :points_per_month, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sort_order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sort_order, :class => 'text_field' %>
    </div>
  </div>

  <fieldset>
    <legend>Subscription Features</legend>

    <% @subscription_features.each do |sub_feature| %>
      <div class="control-group">
        <%= label_tag "subscription_type_feature_values_#{sub_feature._id}", sub_feature.name, :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag "subscription_type[feature_values[#{sub_feature._id}]]", @subscription_type.value_for_feature(sub_feature), :class => 'text_field' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_subscription_types_path, :class => 'btn' %>
  </div>
<% end %>
