<%- model_class = Tournament -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:start_datetime) %></th>
      <th><%= model_class.human_attribute_name(:game) %></th>
      <th><%= model_class.human_attribute_name(:game_type) %></th>
      <th><%= model_class.human_attribute_name(:prize_pool) %></th>
      <th><%= model_class.human_attribute_name(:players_or_teams) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to "View Details", tournament_path(tournament) %></td>
        <td><%= tournament.start_datetime %></td>
        <td><%= tournament.game.name %></td>
        <td><%= tournament.game_type %></td>
        <td><%= tournament.prize_pool %></td>
        <td><%= tournament.player_count %>/<%= tournament.player_limit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
