<% content_for :full_width_layout do %>1<% end %>

<div id="streams" class="container">
  <div id="stream-buttons">
    <div class="stream-button" data-game="all">
      <%= link_to image_tag("stream-button-all.png", id: "stream-button-all") %>
    </div>

    <div class="stream-button-separator">
      <%= image_tag("stream-button-separator.png") %>
    </div>

    <div class="stream-button" data-game="ql">
      <%= link_to image_tag("stream-button-ql.png", id: "stream-button-ql") %>
    </div>
  </div>

  <% if @featured %>
    <div id="featured-streams" class="row-fluid">
      <div class="container">
        <ul class="thumbnails">
          <div class="row-fluid">
            <% @featured.each do |stream| %>
              <%= render stream %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  <% end %>

  <div id="streams-table" class="row-fluid">
    <% if @streams %>
      <ul class="thumbnails">
        <% @streams.each_slice(4) do |streams| %>
          <div class="row-fluid">
            <% streams.each do |stream| %>
              <%= render stream %>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
