<% content_for :full_width_layout do %>1<% end %>

<div id="streams" class="container">
  <div id="stream-buttons">
    <div class="stream-button" data-game="all">
      <%= link_to image_tag("stream-button-all.png", id: "stream-button-all") %>
    </div>

    <div class="stream-button-separator">
      <%= image_tag("stream-button-separator.png") %>
    </div>

    <div class="stream-button" data-game="ql">
      <%= link_to image_tag("stream-button-ql.png", id: "stream-button-ql") %>
    </div>
  </div>

  <div class="row-fluid">
    <% if @streams %>
      <ul class="thumbnails">
        <% @streams.each_slice(4) do |streams| %>
          <div class="row-fluid">
            <% streams.each do |stream| %>
              <div class="span3 game-badge-container">
                <div class="padding">
                  <%= link_to image_tag(stream.thumbnail.url(:thumb)), stream_url(stream.slug) %>
                  <div class="game-badge <%= stream.game.present? ? stream.game.decorate.html_class : '' %>"></div>
                  <div class="row-fluid info-wrapper">
                    <div class="info">
                      <div class="span6"><%= stream.name %></div>
                      <div class="span6 viewer_count">Viewers: <%= stream.viewer_count %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
