<% content_for :footer_scripts do %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "manifests/billing" %>
<% end %>

<%- form_url = current_user.has_stripe_token? ? billing_path(1) : billing_index_path %>
<%- form_method = current_user.has_stripe_token? ? :put : :post %>
<%= form_tag form_url, method: form_method, id: 'credit-card-form', :class => 'form-horizontal' do %>
  <%= render partial: 'fields' %>

  <div class="form-actions">
    <%= submit_tag :Save, :class => 'btn' %>
    <% if current_user.has_stripe_token? %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")), billing_path(1), :class => 'btn' %>
    <% end %>
  </div>
<% end %>
