<div class="index">
  <h1>Meet the Gaming  Revolution</h1>
  <h2>Watch the video & sign up for the beta</h2>
</div>

<div class="wistia_embed_script">
  <div id="wistia_eb49updl7z" class="wistia_embed" style="width:855px;height:481px;" data-video-width="855" data-video-height="481">
    <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
      <meta itemprop="duration" content="PT1M13S" />
      <meta itemprop="thumbnailUrl" content="http://embed.wistia.com/deliveries/0ecd75199592f88a828644b1ba412b88daba6b38.bin" />
      <meta itemprop="contentURL" content="http://embed.wistia.com/deliveries/13d781a4bebc4e6fafba6c4ca5b9509968f781e8.bin" />
      <meta itemprop="embedURL" content="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14&controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fc3f9ad3c91598979e6f01deb9754f22fda75442e.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=73.53&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F0ecd75199592f88a828644b1ba412b88daba6b38.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F13d781a4bebc4e6fafba6c4ca5b9509968f781e8.bin" />
      <meta itemprop="uploadDate" content="2013-04-22T18:17:50Z" />
      <object id="wistia_eb49updl7z_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:360px;position:relative;width:640px;">
        <param name="movie" value="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14"></param>
        <param name="allowfullscreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <param name="bgcolor" value="#000000"></param>
        <param name="wmode" value="opaque"></param>
        <param name="flashvars" value="controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fc3f9ad3c91598979e6f01deb9754f22fda75442e.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=73.53&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F0ecd75199592f88a828644b1ba412b88daba6b38.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F13d781a4bebc4e6fafba6c4ca5b9509968f781e8.bin"></param>
        <embed src="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14" allowfullscreen="true" allowscriptaccess="always" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fc3f9ad3c91598979e6f01deb9754f22fda75442e.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=73.53&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F0ecd75199592f88a828644b1ba412b88daba6b38.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F13d781a4bebc4e6fafba6c4ca5b9509968f781e8.bin" name="wistia_eb49updl7z_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed>
      </object>
      <noscript itemprop="description">Point Gaming Explainer Video 1920x1080</noscript>
    </div>
  </div>
  <script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
  <script charset="ISO-8859-1" src="http://fast.wistia.com/embed/medias/eb49updl7z/metadata.js"></script>
</div>

<div class="close_video">Close Video</div>  

<!-- Watch the Point Gaming Video -->
<div class="screen">
  <%= image_tag 'home/better_noob_charc_HD_v3.jpg', alt: 'Watch the Point Gaming Video', class: 'video-thumbnail' %>
</div>  

<div class="content">

  <!-- Sign up area -->
  <div class="signup_container">
    <div class="signup_form">
      <form id="point_gaming_beta_form" class="point_gaming_beta_form" name="point_gaming_beta_form" method="post" action="?form=submitted">
        <input class="input_text" type="email" name="email" id="email" value="Your Email Address" onblur="if(this.value == '') { this.value='Your Email Address'}" onfocus="if (this.value == 'Your Email Address') {this.value=''}" maxlength="50">

        <!-- Select games -->
        <div class="select_games">
          <input class="input_checkbox" type="checkbox" name="lol" id="lol">
          <label for="lol">League of Legends</label>
          <br>
          <input class="input_checkbox" type="checkbox" name="sc2" id="sc2">
          <label for="sc2">StarCraft 2</label>
          <br>
          <input class="input_checkbox" type="checkbox" name="quake" id="quake">
          <label for="quake">Quake Live</label> 
          <br>
          <input class="input_checkbox" type="checkbox" name="cs" id="cs">  
          <label for="cs">Counter-Strike (All Versions)</label>
          <br>
          <input class="input_checkbox" type="checkbox" name="sm" id="sm">  
          <label for="sm">Shoot Mania</label>
          <br>
          <input class="input_checkbox" type="checkbox" name="wow" id="wow">  
          <label for="wow">World of Warcraft</label>
          <br>
          <input class="input_checkbox" type="checkbox" name="dota2" id="dota2">  
          <label for="dota2">DOTA 2</label>
          <br>
          <label for="others" class="others">Others:</label><input class="input_text smallbox" type="text" name="others" id="others" maxlength="35">  
        </div> 

        <br>  
        <!-- submit form / sign up input button -->
        <input class="input_submit" type="submit"  name="Submit" id="Submit" value="Sign Up">
        <input class="input_submit cancel"   type="reset" value="Cancel">
      </form>
    </div>  

    <!-- Sign up for beta button -->
    <div class="signup">
      <p class="small">Sign Up For</p>
      <p class="large">Beta</p>
    </div>

  </div>
  <!-- END Sign up area -->

  <div class="line">
    <%= image_tag 'home/line.png' %>
  </div>  

  <div class="social">
    <a class="fb-button">
      <%= image_tag 'home/facebook_circle_gray.png' %>
    </a>
    <a href="https://twitter.com/pointgamingapp" target="_blank">
      <%= image_tag 'home/twitter_circle_gray.png' %>
    </a>
    <a href="http://www.linkedin.com/company/point-gaming/" target="_blank" class="last_link">
      <%= image_tag 'home/linkedin_circle_gray.png' %>
    </a>
    <br>

    <div class="fb-like" data-href="https://www.facebook.com/pointgamingapp" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-font="verdana"></div>
    <div class="fb-like-extras"><a href="https://www.facebook.com/pointgamingapp" target="_blank">Or visit our Facebook page</a></div>    
  </div>


  <div class="line">
    <%= image_tag 'home/line.png' %>
  </div>  

  <!-- FAQ -->
  <div class="faq" id="faq">
    <h2 class="faq_title">Frequently Asked Questions</h2>
    <div class="faq_q">What is Point Gaming?</div>
    <div class="faq_a">Point Gaming is the video game industry; centralized.  Our goal is to bring together all the services that make gaming online enjoyable.   </div>

    <div class="faq_q">How much will it cost? </div>
    <div class="faq_a">Point Gaming is 100% free. We will offer a premium subscription that will be around $5 a month. However, there will be ways to get a free premium subscription. 
    </div>  

    <div class="faq_q">How do I get a free premium subscription?</div>
    <div class="faq_a">Don’t worry about it.</div>      

    <div class="faq_q">What do I get with a premium subscription? </div>
    <div class="faq_a">

      <table class="features_table">
        <thead>
          <tr><td>Feature</td><td>Basic</td><td>Better</td></tr>
        </thead>
        <tbody>
          <tr><td>Access Game Lobby</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Find Players</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Find Teams</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Find Scrims</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Instant Message</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Voice Chat</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Join a team</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>View Profiles</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>View player friends list</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Download and upload demos</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Download and upload config files</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Access forums</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Watch streams</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Watch video on demand</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Play in a tournament</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Run a stream</td><td><%= image_tag 'home/yes_green.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Get paid $ for running a stream</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>See player reputation</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Run a tournament</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Create a team</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Manage a team</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Promote your team</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr><td>Bet with points</td><td><%= image_tag 'home/no_red.png' %></td><td><%= image_tag 'home/yes_green.png' %></td></tr>
          <tr class="points-price"><td>Points per month</td><td>0 Points</td><td>500 Points</td></tr>
          <tr class="points-price"><td>Price</td><td>Free</td><td>$5 a month</td></tr>
        </tbody>
      </table>
    </div>  

    <div class="faq_q">What games will be supported? </div>
    <div class="faq_a">We will launch with the most competitive games. A list of possible contenders:
      <ul>
        <li>League of Legends</li>
        <li>StarCraft 2</li>
        <li>Quake Live</li>
        <li>Counter-Strike (All Versions)</li>
        <li>Shoot Mania</li>
        <li>World of Warcraft</li>
        <li>DOTA2</li>
        <li>Others?</li>
      </ul>
      We will let you vote on this when we get closer to launch. As we grow we will support more and more games.
    </div>

    <div class="faq_q">When will Point Gaming launch? </div>
    <div class="faq_a">Q1 2014</div>


    <div class="faq_q">What are the system requirements to run Point Gaming?</div>
    <div class="faq_a">This is a two-part answer:
      <ol>
        <li>Chrome or Firefox and possibly Internet Explorer 10</li>
        <li>Windows</li>
      </ol>

    </div>

    <div class="faq_q">Why don’t you support Mac/Linux?</div>
    <div class="faq_a">Most games don’t support Mac/Linux and most gamers use windows. We will support Mac and Linux when the time is right.</div>

    <div class="faq_q">It is 2013 and I have Windows 98 / ME / 2000 / XP / Vista. Can I play? </div>
    <div class="faq_a">Maybe. Also, you are a newb!</div>

    <div class="faq_q">If I sign up for beta how can I be the first to get in?    </div>
    <div class="faq_a">Help us get the word out. Post on forums, Facebook, Twitter and others. Our team of investigators will take notice and put you on the short list.</div>

    <!-- END FAQ -->
  </div>

  <div class="up_down">
    <a class="top up" href="#">
      <%= image_tag 'home/up.png', alt: 'Go up' %>
    </a> 
  </div>

  <div class="line">
    <%= image_tag 'home/line.png' %>
  </div>

  <nav class="nav_bottom">
    <a class="nav_link selected" href="#">Sign Up</a>
    <a class="nav_link" href="#faq">FAQ</a>
  </nav>

</div>
