<%- model_class = News -%>
<h1>Point Gaming News</h1>

<div id="twocolumns" class="row">
  <section id="content" class="span9">
    <% @news.each do |news| %>
      <div class="post">
        <h1><%= link_to news.title, news %></h1>
        <% if news.image.present? %>
          <%= image_tag news.image.url(:medium), width: "633" %>
        <% end %>
        <div class="text-block">
          <p><%= truncate(news.content, :length => 255, :omission => '...') %></p>
        </div>
        <div class="panel">
          <time class="date" datetime="<%= ldate news.created_at, :format => :long %>"><%= ldate news.created_at.to_date, :format => :long %></time>
          <nav class="sub-nav">
            <ul>
              <li><%= link_to "Learn More", news %></li>
              <li><%= link_to "#{news.comment_count} Comments", news_path(news, anchor: 'comments') %></li>
            </ul>
          </nav>
          <nav class="share-icons">
            <ul>
              <li><a href="#"><%= image_tag "ico-facebook-share.png", alt: "facebook share", width: "61", height: "20" %></a></li>
              <li><a href="#"><%= image_tag "ico-tweet.png", alt: "tweet", width: "55", height: "20" %></a></li>
              <li><a href="#"><%= image_tag "ico-google+1.png", alt: "google+1", width: "32", height: "20" %></a></li>
            </ul>
          </nav>
        </div>
      </div>
    <% end %>
  </section>
  <aside id="sidebar" class="span3">
    <div class="widget">
      <div class="visual">
        <%= image_tag "img02.jpg", alt: "image description" %>
        <h3>Last Tournaments</h3>
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="title">Tournament</th>
            <th>Date</th>
          </tr>
          <% if @tournaments.nil? || @tournaments.empty? %>
            <tr class="bottom">
              <td colspan="2">No results were found.</td>
            </tr>
          <% else %>
            <% @tournaments.each do |tournament, index| %>
              <tr class="<%= 'bottom' if index == (@tournaments.length - 1) %>">
                <td><%= link_to tournament.game.name, tournament_path(tournament) %></td>
                <td><span class="item"><time datetime="<%= tournament.start_datetime %>"><%= ldate tournament.start_datetime.to_date, format: :short %></time></span></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= link_to "View all tournaments", tournaments_path, :class => 'link' %>
    </div>

    <div class="widget leaderboard">
      <div class="visual">
        <%= image_tag "img03.jpg", alt: "image description" %>
        <h3>Leaderboard</h3>
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="title"><%= User.human_attribute_name(:username) %></th>
            <th><%= User.human_attribute_name(:points) %></th>
          </tr>
          <% @players.each do |user| %>
            <tr class="<%= 'bottom' if @players.last === user %>">
              <td><%= link_to user.display_name, user %></td>
              <td class="item"><%= user.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "View all players", leaderboard_path, class: 'link' %>
    </div>
  </aside>
</div>
