<%- model_class = News -%>
<div id="twocolumns" class="row-fluid">
  <section id="content" class="span9">
    <ul class="nav nav-pills">
      <li class="<%= active_class_for_tab(:about) %>">
        <a href="#about" data-toggle="pill">About</a>
      </li>
      <li class="<%= active_class_for_tab(:news) %>">
        <a href="#news" data-toggle="pill">News</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= active_class_for_tab(:about) %>" id="about">
        <%= render 'about' %>
      </div>
      <div class="tab-pane <%= active_class_for_tab(:news) %>" id="news">
        <%= render @news %>
      </div>
    </div>
  </section>
  <aside id="sidebar" class="span3">
    <div class="leaderboard clearfix">
      <div class="visual">
        <h3>Leaderboard</h3>
        <%= image_tag "Leaderboard287x190.jpg", alt: "image description" %>
      </div>
      <div style="padding: 5px;" class="clearfix">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th class="title"><%= User.human_attribute_name(:username) %></th>
              <th><%= User.human_attribute_name(:points) %></th>
            </tr>
            <% @players.each do |user| %>
              <tr class="<%= 'bottom' if @players.last === user %>">
                <td><%= link_to user.display_name, user %></td>
                <td class="item"><%= user.decorate.points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "View all", leaderboard_path, class: 'btn span12' %>
      </div>
    </div>

    <div class="demos clearfix">
      <div class="visual">
        <h3>Last Demos</h3>
        <%= image_tag "Demo287x174.jpg", alt: "image description" %>
      </div>
      <div style="padding: 5px;" class="clearfix">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th class="title">Demos</th>
              <th>Action</th>
            </tr>
            <% if @demos.present? %>
              <% @demos.each do |demo, index| %>
                <tr class="<%= 'bottom' if index == (@demos.length - 1) %>">
                  <td><%= demo.participants %></td>
                  <td><%= link_to t(:download), demo_path(demo), :class => 'btn btn-mini' %></td>
                </tr>
              <% end %>
            <% else %>
              <tr class="bottom">
                <td colspan="2">No results were found.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "View all demos", demos_path, :class => 'btn span12' %>
      </div>
    </div>
  </aside>
</div>
