<%= javascript_include_tag "news" %>

<div class="row-fluid">
  <div class="span12">
    <section id="content">
      <div class="post">
        <h1 class="post-title">
          <%= @news.title %>
          <% if can? :manage, News %>
            <div class="pull-right" style="padding-right: 23px;">
              <%= link_to 'Edit News', edit_admin_news_path(@news), :class => 'btn btn-mini' %>
            </div>
          <% end %>
        </h1>

        <% if @news.image.present? %>
          <%= image_tag @news.image.url(:large), width: "920" %>
        <% end %>
        <div class="text-block">
          <p><%= @news.content %></p>
        </div>
        <div class="well clearfix">
          <time class="date span2" datetime="<%= ldate @news.created_at %>"><%= ldate @news.created_at.to_date %></time>
          <nav class="share-icons span10">
            <ul>
              <li><a href="#"><%= image_tag "ico-facebook-share.png", alt: "facebook share", width: "61", height: "20" %></a></li>
              <li><a href="#"><%= image_tag "ico-tweet.png", alt: "tweet", width: "55", height: "20" %></a></li>
              <li><a href="#"><%= image_tag "ico-google+1.png", alt: "google+1", width: "32", height: "20" %></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section>

      <%= render partial: 'news_comments/form', locals: { hide_cancel_button: true} %>
      
      <% @news.comments.each_with_index do |comment, index| %>
        <div class="comment row-fluid">
          <div class="user">
            <div class="username">
              <%= link_to comment.user.username, comment.user %>
            </div>
            <div class="icon">
              <%= image_tag comment.user.avatar.url(:thumb) %>
            </div>
          </div>

          <div class="contents">
            <a name="comment-<%= comment._id %>" href="#comment-<%= comment._id %>">
              <time class="date" datetime="<%= ldate comment.created_at %>"><%= ldate comment.created_at %></time>
            </a>

            <p><%= comment.text %></p>

            <ul class="actions">
              <% if can?(:edit, comment) || can?(:manage, News) %>
                <li><%= link_to t('.edit', :default => t("helpers.links.edit")), edit_news_comment_path(comment.news, comment), :class => 'btn btn-mini' %></li>
              <% end %>
              <% if can?(:destroy, comment) || can?(:manage, News) %>
                <li>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              news_comment_path(@news, comment),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-danger btn-mini' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
