<div class="widget widget-table action-table">
  <div class="widget-header">
    <i class="icon-th"></i>
    <h3>Friends</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Points</th>
          <th>Team</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% models.each do |friend| %>
          <tr>
            <td><%= friend.username %></td>
            <td><%= friend.points %></td>
            <td><%= friend.team.try(:name) %></td>
            <td>
              <% unless friend._id === current_user._id || user._id === current_user._id %>
                <%= link_to 'Send Friend Request',
                      friend_requests_path(username: friend.username),
                      :method => :post,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
