<div class="widget">
  <div class="widget-header">
    <i class="icon-hdd"></i>
    <h3>Rig</h3>
  </div>
  <div class="widget-content">
    <div class="controls controls-row">
      <div class="control-group span3">
        <label>Manufacturer</label>
        <div class="controls">
          <%= model.manufacturer %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Case</label>
        <div class="controls">
          <%= model.case %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Power Supply</label>
        <div class="controls">
          <%= model.power_supply %>
        </div>
      </div>
      <div class="control-group span3">
        <label>OS</label>
        <div class="controls">
          <%= model.operating_system %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <label>Motherboard</label>
        <div class="controls">
          <%= model.motherboard %>
        </div>
      </div>
      <div class="control-group span3">
        <label>CPU</label>
        <div class="controls">
          <%= model.cpu %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Memory</label>
        <div class="controls">
          <%= model.memory %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Hard Drive</label>
        <div class="controls">
          <%= model.hard_drive %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <label>Hard Drive 2</label>
        <div class="controls">
          <%= model.hard_drive_2 %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Hard Drive 3</label>
        <div class="controls">
          <%= model.hard_drive_3 %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Video Card</label>
        <div class="controls">
          <%= model.video_card %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Sound Card</label>
        <div class="controls">
          <%= model.sound_card %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <label>Headphones</label>
        <div class="controls">
          <%= model.headphones %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Headphone Amp</label>
        <div class="controls">
          <%= model.headphone_amp %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Headset</label>
        <div class="controls">
          <%= model.headset %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Microphone</label>
        <div class="controls">
          <%= model.microphone %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <label>Monitor</label>
        <div class="controls">
          <%= model.monitor %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Mouse</label>
        <div class="controls">
          <%= model.mouse %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Mousepad</label>
        <div class="controls">
          <%= model.mousepad %>
        </div>
      </div>
      <div class="control-group span3">
        <label>Keyboard</label>
        <div class="controls">
          <%= model.keyboard %>
        </div>
      </div>
    </div>
  </div>
</div>
