<div class="widget">
  <div class="widget-header">
    <i class="icon-hdd"></i>
    <h3>Rig</h3>
  </div>
  <div class="widget-content">
    <%= render partial: 'shared/form_errors', locals: {model: f.object} %>

    <div class="controls controls-row">
      <div class="control-group span3">
        <%= f.label :manufacturer %>
        <div class="controls">
          <%= f.text_field :manufacturer, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :case %>
        <div class="controls">
          <%= f.text_field :case, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :power_supply %>
        <div class="controls">
          <%= f.text_field :power_supply, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :operating_system %>
        <div class="controls">
          <%= f.text_field :operating_system, :class => "span12" %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <%= f.label :motherboard %>
        <div class="controls">
          <%= f.text_field :motherboard, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :cpu %>
        <div class="controls">
          <%= f.text_field :cpu, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :memory %>
        <div class="controls">
          <%= f.text_field :memory, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :hard_drive %>
        <div class="controls">
          <%= f.text_field :hard_drive, :class => "span12" %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <%= f.label :hard_drive_2 %>
        <div class="controls">
          <%= f.text_field :hard_drive_2, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :hard_drive_3 %>
        <div class="controls">
          <%= f.text_field :hard_drive_3, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :video_card %>
        <div class="controls">
          <%= f.text_field :video_card, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :sound_card %>
        <div class="controls">
          <%= f.text_field :sound_card, :class => "span12" %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <%= f.label :headphones %>
        <div class="controls">
          <%= f.text_field :headphones, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :headphone_amp %>
        <div class="controls">
          <%= f.text_field :headphone_amp, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :headset %>
        <div class="controls">
          <%= f.text_field :headset, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :microphone %>
        <div class="controls">
          <%= f.text_field :microphone, :class => "span12" %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span3">
        <%= f.label :monitor %>
        <div class="controls">
          <%= f.text_field :monitor, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :mouse %>
        <div class="controls">
          <%= f.text_field :mouse, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :mousepad %>
        <div class="controls">
          <%= f.text_field :mousepad, :class => "span12" %>
        </div>
      </div>
      <div class="control-group span3">
        <%= f.label :keyboard %>
        <div class="controls">
          <%= f.text_field :keyboard, :class => "span12" %>
        </div>
      </div>
    </div>
  </div>
</div>
