<%- edit ||= false %>
<h4>Sponsors</h4>
<% @user.sponsors.order_by(sort_order: :asc).each do |sponsor| %>
  <div data-hook="sponsor" class="sponsor">
    <%= link_to image_tag(sponsor.image.url(:medium), alt: sponsor.name, :class => 'thumbnail'),
                sponsor.url %>
    <%- if edit %>
      <ul class="actions" style="display: none;">
        <li>
          <%= link_to_modal t('.edit', :default => t("helpers.links.edit")), 
            edit_user_sponsor_path(@user.slug, sponsor), remote: true,
            :data => { title: "Edit Sponsor" }, 
            :class => 'btn btn-mini' %>
        </li>
        <li>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            user_sponsor_path(@user.slug, sponsor),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
<% if edit %>
  <div data-hook="sponsor" class="sponsor">
    <%= image_tag UserSponsor.new.image.url(:medium), :class => 'thumbnail' %>
    <ul class="actions" style="display: none;">
      <li>
        <%= link_to_modal t('.new', :default => t("helpers.links.new")),
          new_user_sponsor_path(@user), :data => { title: "New Sponsor" },
          :class => 'btn btn-mini', remote: true %>
      </li>
    </ul>
  </div>
<% end %>
