<div class="widget">
  <div class="widget-header">
    <i class="icon-user"></i>
    <h3>User Information</h3>
  </div>
  <div class="widget-content">
    <div class="controls controls-row">
      <div class="control-group span4">
        <label>Username</label>
        <div class="controls">
          <%= model.username %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span4">
        <label>First Name</label>
        <div class="controls">
          <%= model.first_name %>
        </div>
      </div>
      <div class="control-group span4">
        <label>Last Name</label>
        <div class="controls">
          <%= model.last_name %>
        </div>
      </div>
      <div class="control-group span2">
        <label>Date of Birth</label>
        <div class="controls">
          <%= ldate model.birth_date %>
        </div>
      </div>
      <div class="control-group span2">
        <label>Age</label>
        <div class="controls">
          <%= model.age %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span4">
        <label>Email</label>
        <div class="controls">
          <%= model.email %>
        </div>
      </div>
      <div class="control-group span4">
        <label>Phone</label>
        <div class="controls">
          <%= model.phone %>
        </div>
      </div>
      <div class="control-group span4">
        <label>Team Name</label>
        <div class="controls">
          <% unless model.team.nil? %>
            <%= link_to model.team.try(:name), team_path(model.team) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span4">
        <label>Country</label>
        <div class="controls">
          <%= model.country %>
        </div>
      </div>
      <div class="control-group span4">
        <label>State</label>
        <div class="controls">
          <%= model.state %>
        </div>
      </div>
      <div class="control-group span4">
        <label>Points</label>
        <div class="controls">
          <%= model.points %>
        </div>
      </div>
    </div>

    <div class="controls controls-row">
      <div class="control-group span4">
        <label>Time Zone</label>
        <div class="controls">
          <%= model.time_zone %>
        </div>
      </div>
      <div class="control-group span4">
        <label><%= User.human_attribute_name(:game_id) %></label>
        <div class="controls">
          <%= model.game.try(:display_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
