<%- model_class = Game -%>

<%= render partial: 'shared/desktop_client_helper' %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:player_count) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.name, lobby_path(game), :class => 'requires-desktop-client', :'data-action' => 'joinLobby' %></td>
        <td><%= game.player_count %></td>
        <td><%= "n/a" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
