<div class="row-fluid">
  <div class="span3">
    <div class="widget <%= @tournament.game.decorate.html_class %>" id="primary-game">
      <h3>Game</h3>
      <h4><%= @tournament.game.try(:display_name) %></h4>
    </div>
    <div class="well well-small">
      Check-In:
      <span id="time-left" style="display: none">
        <%= @tournament.checkin_date %>
      </span>

      <br />

      Starts: <%= ldate @tournament.signup_ends_at %>
    </div>
    <%= render "registration_widget" %>
    <div class="well well-small">
      <div class="row-fluid">
        <div class="span6">
          <% if @tournament.stream_slug.present? %>
            <%= link_to "Stream", stream_path(@tournament.stream_slug), class: "btn btn-block" %>
          <% end %>
        </div>
        <div class="span6">
          <%= link_to "Brackets", brackets_tournament_path(@tournament), class: "btn btn-block", disabled: !@tournament.started? %>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">
        <h3>Rules</h3>
      </div>
      <div class="widget-content">
        <%= @tournament.details %>
      </div>
    </div>
    <div id="prize-pool-widget" class="widget">
      <div class="widget-header">
        <h3>Prize Pool</h3>
      </div>
      <div class="widget-content scrollable">
        <table class="table table-bordered table-striped">
          <tbody>
            <% @tournament.prizepool.each do |placement, amount| %>
              <tr>
                <td><%= label placement, ActiveSupport::Inflector.ordinalize(placement) %></td>
                <td><%= number_to_currency amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="collaborators-widget" class="widget">
      <div class="widget-header">
        <h3>Admins</h3>
      </div>
      <div class="widget-content scrollable">
        <div class="control-group">
          <div class="controls">
            <%= link_to @tournament.owner.username, @tournament.owner %>
          </div>
        </div>

        <% @tournament.collaborators.each do |collaborator| %>
          <div class="control-group">
            <div class="controls">
              <%- c = User.find(collaborator) -%>
              <%= link_to c.username, c %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span9">
    <div id="tournament-name-wrapper" class="row-fluid widget">
      <div class="span1 tournament-thumb"><img src="//placehold.it/80x80"></div>
      <div class="span8 widget-content">
        <h3>
          <%= @tournament.name %>
        </h3>
        <h4>Organizer: <%= link_to @tournament.owner.username, @tournament.owner %></h4>
      </div>
      <div class="span3 widget-content game-type">
        <div class="span12">
          <h4><%= @tournament.game_type.try(:name) %></h4>
        </div>
        <div class="span12">
          <h4><%=t @tournament.format %></h4>
        </div>
      </div>
    </div>
    <div class="span9 middle-content">
      <%= render "registered_players" %>
    </div>
    <div class="span2">
      <%= render "sponsors" %>
    </div>
  </div>
</div>
