<div class="row-fluid" id="tournaments">
  <h1>Editing Tournament: <%= @tournament %></h1>

  <div class="row-fluid">
    <div class="span12">
      <ul class="nav nav-tabs" id="tournament-tabs">
        <li class="active"><a href="#details">Rules</a></li>
        <li><a href="#control">Control Panel</a></li>
      </ul>
    </div>
  </div>

  <%= form_for @tournament, html: { class: "" } do |f| %>
    <%= render partial: "shared/form_errors", locals: { model: f.object } %>

    <div class="tab-content">
      <div class="tab-pane active" id="details">
        <div class="row-fluid">
          <div class="span6">
            <fieldset>
              <legend>Rules &amp; Details</legend>

              <%= f.text_area :details, rows: 24 %>
            </fieldset>
          </div>

          <div class="span6">
            <fieldset>
              <legend>Preview</legend>

            </fieldset>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="control">
        <div class="row-fluid">
          wut
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="form-actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
