<%- model_class = Tournament -%>
  
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Sign-Up Ends At</th>
      <th>Game</th>
      <th>Game Type</th>
      <th>Prize Pool</th>
      <th>Teams</th>
    </tr>
  </thead>
  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to "View Details", tournament_path(tournament.slug) %></td>
        <td><%= ldate tournament.signup_ends_at %></td>
        <td><%= tournament.game.name %></td>
        <td><%= tournament.game_type.name %></td>
        <td><%= number_to_currency tournament.prizepool_total %></td>
        <td><%= tournament.player_count %>/<%= tournament.player_limit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
