<div class="row-fluid" id="tournaments">
  <h1>New Tournament</h1>

  <%= form_for @tournament, html: { class: "" } do |f| %>
    <%= render partial: "shared/form_errors", locals: { model: f.object } %>

    <div class="row-fluid">
      <div class="span4">
        <div class="control-group">
          <%= f.label :name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="control-group">
          <%= f.label :stream_slug, "Stream", class: "control-label" %>
          <div class="controls">
            <%= f.text_field :stream_slug %>
          </div>
        </div>
      </div>
    </div>

    <fieldset>
      <legend>Sign-Up &amp; Check-In</legend>

      <div class="row-fluid">
        <div class="span4">
          <div class="control-group">
            <%= f.label :player_limit, class: "control-label" %>
            <div class="controls">
              <%= f.select :player_limit, (2..128).to_a.select { |n| n.pow2? }.collect { |p| [p, p] }, include_blank: "- select -" %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :starts_at, "Starts At", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :starts_at, value: ldate(f.object.starts_at).try(:downcase), class: "text_field", data: { behavior: "datepicker" } %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :checkin_hours, "Check-In Time", class: "control-label" %>
            <div class="controls">
              <%= f.select :checkin_hours, (1..3).to_a.map { |n| ["#{pluralize(n, "hour")} before starting", n] }, include_blank: "- select -" %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Game Settings</legend>

      <div class="row-fluid">
        <div class="span4">
          <div class="control-group">
            <%= f.label :format, class: "control-label" %>
            <div class="controls">
              <%= f.select :format, f.object.formats.collect { |format| [t(format), format] }, include_blank: "- select -" %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :game_id, class: "control-label" %>
            <div class="controls">
              <%= f.select :game_id, Game.all.map { |g| [g.name, g.id] }, include_blank: "- select -" %>
            </div>
          </div>
        </div>

        <div class="span4">
          <div class="control-group">
            <%= f.label :game_type_id, class: "control-label" %>
            <div class="controls">
              <%= render partial: "shared/game_type_select", locals: { model_name: :tournament, game: @tournament.game } %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <label class="checkbox">
              <%= f.check_box :has_groupstage %>

              Require groupstage completion
            </label>
          </div>

          <div class="control-group">
            <label class="checkbox">
              <%= f.check_box :invite_only %>

              Tournament is invite-only
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row-fluid">
      <div class="span12">
        <div class="form-actions">
          <%= f.submit "Save", class: "btn btn-primary", data: { confirm: "Are you sure? You won't be able to change these settings once the tournament has been created." } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
