<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>
  <%= render "workflow_navigation" %>

  <%= form_for @tournament, html: { class: "form-horizontal", :"data-hook" => "prize-pool-form" } do |f| %>
    <%= render partial: "shared/form_errors", locals: { model: f.object } %>

    <div class="row-fluid">
      <div class="span6">
        <div id="prize-pool-widget" class="widget">
          <div class="widget-header">
            <h3>Prize Pool</h3>
          </div>
          <div class="widget-content scrollable">
            <%= f.fields_for :prizepool do |prizepool| %>
              <% 1.upto(@tournament.player_limit) do |placement| %>
                <% next unless (1..4).to_a.include?(placement) || (placement - 1).pow2? %>
                <div class="control-group">
                  <%= prizepool.label placement, friendly_placement(placement), class: "control-label"  %>
                  <div class="controls">
                    $ <%= prizepool.text_field placement, value: @tournament.prizepool[placement.to_s], class: "text_field", :"data-hook" => "prizepool-field" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="well">
          <h3>
            Total: 
            <span data-hook="prize-pool-total"><%= number_to_currency @tournament.prizepool_total %></span>
          </h3>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="form-actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
