<div class="row-fluid" id="tournaments">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <div class="widget <%= @tournament.game.decorate.html_class %>" id="primary-game">
          <h3>Game</h3>
          <h4><%= @tournament.game.try(:display_name) %></h4>
        </div>
        <div class="well well-small">
          Check-In:
          <span id="time-left" style="display: none">
            <%= @tournament.checkin_date %>
          </span>

          <br />

          Starts: <%= ldate @tournament.starts_at %>
        </div>
        <%= widget :registration %>
        <%= widget :slugs %>
        <%= widget :prize_pool %>
        <%= widget :collaborators %>
        <%= widget :players %>
      </div>
      <div class="span9">
        <div id="tournament-name-wrapper" class="row-fluid widget">
          <div class="span1 tournament-thumb"><img src="//placehold.it/80x80"></div>
          <div class="span8 widget-content">
            <h3><%= @tournament.name %></h3>
            <h4>Organizer: <%= link_to @tournament.owner.username, @tournament.owner %></h4>
          </div>
        </div>
        <% if @tournament.ended? || currently_playing? %>
          <div class="span9 middle-content">
            <div class="widget">
              <div class="widget-header">
                <h3>
                  <% if @tournament.ended? %>
                    Tournament Standings
                  <% elsif currently_playing? %>
                    Current Match
                  <% end %>
                </h3>
              </div>
              <% if @tournament.ended? %>
                <div class="widget-content">
                  <ul>
                    <% @tournament.players.unscoped.asc(:placed).each do |player| %>
                      <li>
                        <%= friendly_placement(player.placed) %> - <%= link_to player, user_path(player.username) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% elsif currently_playing? %>
                <div class="widget-content center">
                  <h3>Opponent:</h3>
                  <h4><%= current_player.current_opponent %></h4>
                  <% if current_player.current_opponent != "TBD" %>
                    <p>
                      <%= link_to "Report Scores", "#report-scores", class: "btn btn-success", role: "button", data: { toggle: "modal" } %>
                    </p>
                  <% end %>

                  <%= widget :report_scores %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="span9 middle-content">
          <%= widget :rules %>
        </div>
      </div>
    </div>
  </div>
</div>
