<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>

  <%= render "/tournaments/workflow_navigation" %>

  <div class="row-fluid">
    <div class="span12">
      <div id="status-widget" class="widget">
        <div class="widget-header">
          <h3>Status</h3>
        </div>
        <div class="widget-content">
          <table class="table">
            <tbody>
              <% @steps.each do |step| %>
                <tr class="<%= class_name_for_status_step(step) %>">
                  <td>
                    <input type="checkbox" disabled="disabled" <%= "checked=\"checked\"" if step_completed?(step) %> />
                  </td>
                  <td><%= step_name(step) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
