<table class="subscriptions-table table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <% @subscription_types.each do |sub_type| %>
        <th class="subscription-type"><h3><%= sub_type.name %></h3></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @subscription_features.each do |sub_feature| %>
      <tr>
        <td><%= sub_feature.name %></td>
        <% @subscription_types.each do |sub_type| %>
          <td><%= sub_type.value_for_feature(sub_feature) %></td>
        <% end %>
      </tr>
      <% end %>
      <tr class="price-point">
        <td></td>
        <% @subscription_types.each do |sub_type| %>
        <td><h3><%= number_to_currency sub_type.price %></h3></td>
        <% end %>
      </tr>
      <tr class="points">
        <td></td>
        <% @subscription_types.each do |sub_type| %>
        <td><h3><%= sub_type.points_per_month %> points</h3></td>
        <% end %>
      </tr>
      <tr class="buy-options">
        <td></td>
        <td><h3><i>Free</i></h3></td>
        <td><%= link_to t('.buy'), new_subscription_path, :class => 'btn span12' %></td>
      </tr>

  </tbody>
</table>

<%= render partial: 'billing/show' %>
