<%- model_class = Match -%>
<div class="modal-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<% @breadcrumbs = capture do %>
  <% if @match.can_start? %>
    <%= link_to t('.start'), start_match_path(@match), method: 'put', 
          :data => {type: :json, remote: :true, 'dismiss-modal' => :true}, 
          :class => 'btn btn-primary' %>
  <% end %>
  <% if @match.can_finalize? %>
    <%= link_to t('.finalize'), edit_match_path(@match), method: 'get', 
          :data => {type: :json, remote: :true, 'modal-follow-link' => :true},
          :class => 'btn btn-primary' %>
  <% end %>
  <% if @match.can_cancel? %>
    <div class="pull-right">
      <%= link_to t('.cancel'), cancel_match_path(@match), method: 'put', 
            :data => {type: :json, remote: :true, 'dismiss-modal' => :true}, 
            :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
<% unless @breadcrumbs.blank? %>
  <div class="breadcrumb"><%= @breadcrumbs %></div>
<% end %>

<div class="modal-body">
  <div class="span4">
    <div class="control-group">
      <%= label @match, :details, :class => 'control-label' %>
      <div class="controls">
        <%= match_details(@match, :short) %>
      </div>
    </div>

    <div class="control-group">
      <%= label @match, :created_at, :class => 'control-label' %>
      <div class="controls">
        <%= ldate @match.created_at %>
      </div>
    </div>

    <div class="control-group">
      <%= label @match, :state, :class => 'control-label' %>
      <div class="controls">
        <%= @match.state %>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <%= link_to t('.close', default: t("helpers.links.close")), '#', :class => 'btn', 'data-dismiss' => 'modal' %>
</div>
