<%- model_class = Bet -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<h3>Match Information</h3>
<dl class="dl-horizontal">
  <dt><strong><%= Match.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= match_details(@bet.match, :short) %></dd>
  <dt><strong><%= Match.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= ldate @bet.match.created_at %></dd>
  <dt><strong><%= Match.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @bet.match.state %></dd>
  <dt><strong><%= Match.human_attribute_name(:winner) %>:</strong></dt>
  <dd><%= @bet.match.winner.try(:display_name) %></dd>
</dl>

<h3>Bet Information</h3>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:offerer_choice) %>:</strong></dt>
  <dd><%= @bet.offerer_choice.try(:display_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taker_choice) %>:</strong></dt>
  <dd><%= @bet.taker_choice.try(:display_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bet_amount) %>:</strong></dt>
  <dd><%= @bet.bet_amount(current_user) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:outcome_amount) %>:</strong></dt>
  <dd><%= @bet.outcome_amount(current_user) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:odds) %>:</strong></dt>
  <dd><%= @bet.display_odds(current_user) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:outcome) %>:</strong></dt>
  <dd><%= @bet.outcome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:offerer) %>:</strong></dt>
  <dd><%= @bet.offerer.try(:username) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taker) %>:</strong></dt>
  <dd><%= @bet.taker.try(:username) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bet_history_index_path, :class => 'btn'  %>
</div>
