<%- edit ||= false %>
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <% if @tournament.new_record? %>
        <%= navItem "Create",  new_user_tournament_path %>
        <li class="disabled"><a href="">Prize Pool</a></li>
        <li class="disabled"><a href="">Pay</a></li>
        <li class="disabled"><a href="">Status</a></li>
        <li class="disabled"><a href="">Collaborators & Invites</a></li>
        <li class="disabled"><a href="">Overview</a></li>
      <% else %>
        <%= navItem "Edit", edit_user_tournament_path(@tournament) %>
        <%- prize_pool_class = @tournament.prizepool_required? ? '' : 'disabled' %>
        <%= navItem "Prize Pool", prize_pool_user_tournament_path(@tournament), :class => prize_pool_class %>
        <%= navItem "Pay", pay_user_tournament_path(@tournament) %>
        <%= navItem "Status", status_user_tournament_path(@tournament) %>
        <%= navItem "Collaborators & Invites", users_user_tournament_path(@tournament) %>
        <%= navItem "Overview", user_tournament_path(@tournament) %>
      <% end %>
    </ul>
  </div>
</div>
