<% content_for :footer_scripts do %>
  <%= javascript_include_tag "pages/user_tournaments" %>
<% end %>

<%- model_class = Tournament -%>
<div class="row-fluid" id="tournaments">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>

  <%= render :partial => 'tournaments/workflow_navigation' %>

  <div class="row-fluid">
    <div class="span6">
      <div class="widget">
        <div class="widget-header">
          <h3>Players</h3>
        </div>

        <div class="widget-content scrollable">
          <ol class="tourney-players">
            <% @tournament.players.each do |player| %>
              <li class="draggable" data-id="<%= player.id %>"><%= player.user.username %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="widget">
        <div class="widget-header">
          <h3>Seeds</h3>
        </div>

        <div id="tourney-seeds" class="widget-content scrollable droppable">
          <ol class="tourney-players">
            <% @tournament.seeds.each do |seed| %>
              <li data-id="<%= seed %>">
                <a href="#" class="remove-seed">[x]</a>
                <%= @tournament.players.find(seed).user.username %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
