<%- model_class = Tournament -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @tournament.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @tournament.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_datetime) %>:</strong></dt>
  <dd><%=ldate @tournament.start_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:signup_start_datetime) %>:</strong></dt>
  <dd><%=ldate @tournament.signup_start_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:signup_end_datetime) %>:</strong></dt>
  <dd><%=ldate @tournament.signup_end_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:player_limit) %>:</strong></dt>
  <dd><%= @tournament.player_limit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format) %>:</strong></dt>
  <dd><%=t @tournament.format %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%=t @tournament.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maps) %>:</strong></dt>
  <dd><%= @tournament.maps %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @tournament.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prizepool) %>:</strong></dt>
  <dd><%= @tournament.prizepool %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prizepool_status) %>:</strong></dt>
  <dd><%=t @tournament.prizepool_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prizepool_total) %>:</strong></dt>
  <dd><%= @tournament.prizepool_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sponsor_request_status) %>:</strong></dt>
  <dd><%=t @tournament.sponsor_request_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:game_id) %>:</strong></dt>
  <dd><%= @tournament.game.try(:display_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:game_type_id) %>:</strong></dt>
  <dd><%= @tournament.game_type.try(:name) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_tournaments_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_tournament_path(@tournament), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_tournament_path(@tournament),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
