<%- model_class = Tournament -%>
<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>
  
  <%= render :partial => 'workflow_navigation', locals: {edit: true} %>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @tournament.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
    <dd><%= @tournament.slug %></dd>
    <dt><strong><%= model_class.human_attribute_name(:start_datetime) %>:</strong></dt>
    <dd><%=ldate @tournament.start_datetime %></dd>
    <dt><strong><%= model_class.human_attribute_name(:signup_start_datetime) %>:</strong></dt>
    <dd><%=ldate @tournament.signup_start_datetime %></dd>
    <dt><strong><%= model_class.human_attribute_name(:signup_end_datetime) %>:</strong></dt>
    <dd><%=ldate @tournament.signup_end_datetime %></dd>
    <dt><strong><%= model_class.human_attribute_name(:player_limit) %>:</strong></dt>
    <dd><%= @tournament.player_limit %></dd>
    <dt><strong><%= model_class.human_attribute_name(:format) %>:</strong></dt>
    <dd><%=t @tournament.format %></dd>
    <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
    <dd><%=t @tournament.type %></dd>
    <dt><strong><%= model_class.human_attribute_name(:maps) %>:</strong></dt>
    <dd><%= @tournament.maps %></dd>
    <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
    <dd><%= @tournament.details %></dd>
    <dt><strong><%= model_class.human_attribute_name(:prizepool) %>:</strong></dt>
    <dd><%= @tournament.prizepool %></dd>
    <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
    <dd><%=t @tournament.state %></dd>
    <dt><strong><%= model_class.human_attribute_name(:prizepool_total) %>:</strong></dt>
    <dd><%= @tournament.prizepool_total %></dd>
    <dt><strong><%= model_class.human_attribute_name(:sponsor_request) %>:</strong></dt>
    <dd><%=t @tournament.sponsor_request.try(:state) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:game_id) %>:</strong></dt>
    <dd><%= @tournament.game.try(:display_name) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:game_type_id) %>:</strong></dt>
    <dd><%= @tournament.game_type.try(:name) %></dd>
  </dl>
</div>
