<% content_for :footer_scripts do %>
  <%= javascript_include_tag "pages/user_tournaments" %>
<% end %>
<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>
  <%= render :partial => 'tournaments/workflow_navigation' %>

  <div class="row-fluid">

    <div class="span6">
      <%= render partial: 'tournament_collaborators/show' %>
    </div>

    <div class="span6">
      <%= render partial: 'tournament_invites/show' %>
    </div>

  </div>

</div>
