<div class="page-header">
  <h1>Friends</h1>
</div>

<% if @friends.present? %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.friend_user.username, user_path(friend.friend_user) %></td>
          <td>
            <% unless current_user === friend.friend_user %>
              <% if current_user.blocked_user?(friend.friend_user) %>
                <%= link_to "User blocked!", "#", class: "btn", disabled: true %>
              <% elsif current_user.friends_with?(friend.friend_user) %>
                <%= link_to "Already friends!", "#", class: "btn", disabled: true %>
              <% elsif current_user.friend_request_sent?(friend.friend_user) %>
                <%= link_to "Friend request sent!", "#", class: "btn", disabled: true %>
              <% else %>
                <%= link_to 'Send Friend Request', friend_requests_path(username: friend.friend_user.username),
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :method => :post, :class => 'btn'  %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no friends.</p>
<% end %>
