<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>

  <%= form_for [:tournament, @payment], html: { class: "form-horizontal", :"data-hook"=>"payment-form" } do |f| %>
    <%= render partial: "shared/form_errors", locals: { model: f.object } %>

    <div class="row-fluid">
      <div class="span8">
        <div id="payment-source-widget" class="widget">
          <div class="widget-header">
            <h3>Payment Source</h3>
          </div>
          <div class="widget-content">
            <label class="radio">
              <%= f.radio_button :source, :bank_account %>
              Bank Transfer (e-check)
            </label>
            <label class="radio">
              <%= f.radio_button :source, :dwolla %>
              Dwolla
            </label>
            <label class="radio">
              <%= f.radio_button :source, :credit_card %>
              Credit Card
            </label>
            <label class="radio">
              <%= f.radio_button :source, :paypal %>
              PayPal
            </label>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="well">
          <h3>
            Total: 
            <span data-hook="prize-pool-total"><%= number_to_currency @tournament.prizepool_total %></span>
          </h3>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div id="payment_source_fields_bank_account" class="widget hide" style="<%= "display: block;" if f.object.source === "bank_account" %>" data-hook="payment-source-fields">
          <div class="widget-header">
            <h3>Bank Account Info</h3>
          </div>
          <div class="widget-content">
            <div class="control-group">
              <%= f.label :bank_account_number, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :bank_account_number %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :bank_routing_number, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :bank_routing_number %>
              </div>
            </div>
          </div>
        </div>

        <div id="payment_source_fields_dwolla" class="widget hide" style="<%= "display: block;" if f.object.source === "dwolla" %>" data-hook="payment-source-fields">
          <div class="widget-header">
            <h3>Dwolla Info</h3>
          </div>
          <div class="widget-content">
            <div class="control-group">
              <%= f.label :dwolla_account_id, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :dwolla_account_id %>
              </div>
            </div>
          </div>
        </div>

        <div id="payment_source_fields_paypal" class="widget hide" style="<%= "display: block" if f.object.source === "paypal" %>" data-hook="payment-source-fields">
          <div class="widget-header">
            <h3>Paypal Info</h3>
          </div>
          <div class="widget-content">
            <div class="control-group">
              <%= f.label :paypal_email, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :paypal_email %>
              </div>
            </div>
          </div>
        </div>

        <div id="payment_source_fields_credit_card" class="widget hide" style="<%= "display: block;" if f.object.source === "credit_card" %>" data-hook="payment-source-fields">
          <div class="widget-header">
            <h3>Credit Card Info</h3>
          </div>
          <div class="widget-content">
            <div class="control-group">
              <%= f.label :credit_card_name, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_name %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_number, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_number %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_expiration_month, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_expiration_month %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_expiration_year, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_expiration_year %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_cvv2, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_cvv2 %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_address_1, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_address_1 %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_address_2, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_address_2 %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_city, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_city %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_state, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_state %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :credit_card_zip, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :credit_card_zip %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="form-actions">
          <%= f.submit :Next, class: "btn btn-primary" %>
          <%= link_to t(".cancel", default: t("helpers.links.cancel")),
                      tournaments_path, class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
